p.import_caption {
    font-size: 16px;
}
.enigma-import-export {
    max-width: 99%;
    margin-top: 2%;
}
.enigma-import-export .jumbotron {
    background: linear-gradient(40deg, #45cafc, #303f9f) !important;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
    color: #fff;
}
.enigma-import-export h3 {
    color: #fff;
}
input.btn.btn-import-enigma {
    border: 2px solid #fff;
    color: #fff;
    font-weight: 600;
}
input.btn.btn-import-enigma:hover {
    background: #fff;
    color: #44c5f9;
}